 #demo.test_a{
    font-size: 80px;
    
    font-weight: bold;
} 

.demo-2{
    padding: 25px 65px;
    color:#fff;
    background-color:green ;
}


h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}